In [23]:
import pandas as pd
import scipy.stats as stats
import matplotlib.pyplot as plt

In [24]:
ecsd = pd.read_csv("Train.csv")

In [25]:
ecsd

,ID,Warehouse_block,Mode_of_Shipment,Customer_care_calls,Customer_rating,Cost_of_the_Product,Prior_purchases,Product_importance,Gender,Discount_offered,Weight_in_gms,Reached.on.Time_Y.N
0,1,D,Flight,4,2,177,3,low,F,44,1233,1
1,2,F,Flight,4,5,216,2,low,M,59,3088,1
2,3,A,Flight,2,2,183,4,low,M,48,3374,1
3,4,B,Flight,3,3,176,4,medium,M,10,1177,1
4,5,C,Flight,2,2,184,3,medium,F,46,2484,1
...,...,...,...,...,...,...,...,...,...,...,...,...
10994,10995,A,Ship,4,1,252,5,medium,F,1,1538,1
10995,10996,B,Ship,4,1,232,5,medium,F,6,1247,0
10996,10997,C,Ship,5,4,242,5,low,F,4,1155,0
10997,10998,F,Ship,5,2,223,6,medium,M,2,1210,0
10998,10999,D,Ship,2,5,155,5,low,F,6,1639,0

In [26]:
ecsd.dtypes

ID                      int64
Warehouse_block        object
Mode_of_Shipment       object
Customer_care_calls     int64
Customer_rating         int64
Cost_of_the_Product     int64
Prior_purchases         int64
Product_importance     object
Gender                 object
Discount_offered        int64
Weight_in_gms           int64
Reached.on.Time_Y.N     int64
dtype: object

In [ ]:
ecsd[(ecsd.Warehouse_block == "D") & (ecsd.Mode_of_Shipment == "Ship")]

In [8]:
ecsd[ecsd.Warehouse_block == "D"].groupby("Warehouse_block")["Warehouse_block"].count()

Warehouse_block
D    1834
Name: Warehouse_block, dtype: int64

In [ ]:
pd.to_numeric(ecsd.Warehouse_block, errors='coerce')

-Quantas compras tem um customer rating de 5?
-Quantas compras tem mais de duas compras anteriores?
-Quantas compras tem importÃ¢ncia alta ou baixa?
-Qual a quantidade mÃ©dia de customer care calls das compras?
-Qual o custo mÃ©dio dos produtos das compras?
-Qual o desvio padrÃ£o do custo dos produtos das compras?
-Existem compras com custos outliers?
-Quais sÃ£o os 1Q e 3Q dos custos?

ManipulaÃ§Ã£o de dados:
    *Pandas
        -Selecionar Colunas
        -Filtrar Linhas
        -AgregaÃ§Ã£o(Group by)
        -FunÃ§Ãµes Apply Lambda
        -UniÃ£o de Dados (Merge, Concat)
        
AnÃ¡lise de Dados:
    *Seaborn e Matplotlib
        -GrÃ¡ficos (Barras, Linhas, Empilhado)
        -CorrelaÃ§Ãµes
        -ValidaÃ§Ã£o de HipÃ³teses

Gerar grÃ¡ficos e apresentar para pessoas perguntando se estÃ¡ claro pelo grÃ¡fico a resposta.

================================================================================================================

Quantas compras tem um customer rating de 5?

In [4]:
ecsd[ecsd.Customer_rating == 5].groupby("Customer_rating")["Customer_rating"].count()

Customer_rating
5    2171
Name: Customer_rating, dtype: int64

Quantas compras tem mais de duas compras anteriores?

In [5]:
ecsd[ecsd.Prior_purchases > 2].groupby("Prior_purchases")["Prior_purchases"].count().sum()

8400

Quantas compras tem importÃ¢ncia alta ou baixa?

In [6]:
ecsd[(ecsd.Product_importance == "low") | (ecsd.Product_importance == "high")].groupby("Product_importance")["Product_importance"].count().sum()

6245

Qual a quantidade mÃ©dia de customer care calls das compras?

In [7]:
ecsd["Customer_care_calls"].mean()

4.054459496317847

Qual o custo mÃ©dio dos produtos das compras?

In [8]:
ecsd["Cost_of_the_Product"].mean()

210.19683607600692

Qual o desvio padrÃ£o do custo dos produtos das compras?

In [9]:
ecsd["Cost_of_the_Product"].std()

48.06327175153258

Existem compras com custos outliers?

In [39]:
ecsd.groupby('Cost_of_the_Product')['Cost_of_the_Product'].count()

Cost_of_the_Product
96      5
97      7
98     14
99      5
100     9
       ..
306    18
307    14
308    20
309    15
310    17
Name: Cost_of_the_Product, Length: 215, dtype: int64

Quais sÃ£o os 1Q e 3Q dos custos?

In [55]:
ecsd['Cost_of_the_Product'].quantile(0.25)

169.0

In [56]:
ecsd['Cost_of_the_Product'].quantile(0.75)

251.0