In [2]:
import pandas as pd
import scipy.stats as stats
import matplotlib.pyplot as plt

In [3]:
ecsd = pd.read_csv("Train.csv")

In [8]:
ecsd

,ID,Warehouse_block,Mode_of_Shipment,Customer_care_calls,Customer_rating,Cost_of_the_Product,Prior_purchases,Product_importance,Gender,Discount_offered,Weight_in_gms,Reached.on.Time_Y.N
0,1,D,Flight,4,2,177,3,low,F,44,1233,1
1,2,F,Flight,4,5,216,2,low,M,59,3088,1
2,3,A,Flight,2,2,183,4,low,M,48,3374,1
3,4,B,Flight,3,3,176,4,medium,M,10,1177,1
4,5,C,Flight,2,2,184,3,medium,F,46,2484,1
...,...,...,...,...,...,...,...,...,...,...,...,...
10994,10995,A,Ship,4,1,252,5,medium,F,1,1538,1
10995,10996,B,Ship,4,1,232,5,medium,F,6,1247,0
10996,10997,C,Ship,5,4,242,5,low,F,4,1155,0
10997,10998,F,Ship,5,2,223,6,medium,M,2,1210,0
10998,10999,D,Ship,2,5,155,5,low,F,6,1639,0

In [9]:
ecsd.dtypes

ID                      int64
Warehouse_block        object
Mode_of_Shipment       object
Customer_care_calls     int64
Customer_rating         int64
Cost_of_the_Product     int64
Prior_purchases         int64
Product_importance     object
Gender                 object
Discount_offered        int64
Weight_in_gms           int64
Reached.on.Time_Y.N     int64
dtype: object

In [ ]:
ecsd[(ecsd.Warehouse_block == "D") & (ecsd.Mode_of_Shipment == "Ship")]

In [ ]:
ecsd[ecsd.Warehouse_block == "D"].groupby("Warehouse_block")["Warehouse_block"].count()

In [ ]:
pd.to_numeric(ecsd.Warehouse_block, errors='coerce')

==============================

Quantas compras tem um customer rating de 5?

In [ ]:
ecsd[ecsd.Customer_rating == 5].groupby("Customer_rating")["Customer_rating"].count()

Quantas compras tem mais de duas compras anteriores?

In [ ]:
ecsd[ecsd.Prior_purchases > 2].groupby("Prior_purchases")["Prior_purchases"].count().sum()

Quantas compras tem importância alta ou baixa?

In [ ]:
ecsd[(ecsd.Product_importance == "low") | (ecsd.Product_importance == "high")].groupby("Product_importance")["Product_importance"].count().sum()

Qual a quantidade média de customer care calls das compras?

In [ ]:
ecsd["Customer_care_calls"].mean()

Qual o custo médio dos produtos das compras?

In [ ]:
ecsd["Cost_of_the_Product"].mean()

Qual o desvio padrão do custo dos produtos das compras?

In [ ]:
ecsd["Cost_of_the_Product"].std()

Existem compras com custos outliers?

In [ ]:
ecsd.groupby('Cost_of_the_Product')['Cost_of_the_Product'].count()

Quais são os 1Q e 3Q dos custos?

In [ ]:
ecsd['Cost_of_the_Product'].quantile(0.25)

In [ ]:
ecsd['Cost_of_the_Product'].quantile(0.75)

---------------

Manipulação de dados:
    *Pandas
        -Selecionar Colunas

In [4]:
ecsd['Cost_of_the_Product']

0        177
1        216
2        183
3        176
4        184
        ...
10994    252
10995    232
10996    242
10997    223
10998    155
Name: Cost_of_the_Product, Length: 10999, dtype: int64

        -Filtrar Linhas

In [7]:
ecsd[ecsd['Cost_of_the_Product'] <= 100]

,ID,Warehouse_block,Mode_of_Shipment,Customer_care_calls,Customer_rating,Cost_of_the_Product,Prior_purchases,Product_importance,Gender,Discount_offered,Weight_in_gms,Reached.on.Time_Y.N
151,152,F,Flight,5,3,98,5,medium,M,44,1269,1
152,153,A,Flight,3,4,97,4,low,M,32,1238,1
431,432,F,Ship,4,2,96,3,low,M,22,1294,1
821,822,F,Flight,2,1,98,3,low,F,29,1806,1
974,975,A,Flight,5,3,96,4,medium,F,12,1655,1
1038,1039,D,Ship,4,3,97,2,low,M,26,1598,1
1207,1208,F,Road,3,1,100,3,low,F,17,1129,1
1435,1436,F,Ship,6,5,100,4,medium,F,3,1440,1
2223,2224,B,Ship,4,1,97,2,high,M,15,1836,1
2418,2419,D,Ship,5,2,96,2,low,F,50,1186,1
2756,2757,A,Flight,3,5,98,3,medium,F,48,1635,1
2783,2784,F,Ship,3,2,98,3,medium,F,60,1057,1
2802,2803,D,Ship,3,3,99,3,high,M,63,1223,1
2894,2895,A,Ship,3,4,98,2,low,F,32,1539,1
3254,3255,A,Ship,3,4,100,3,medium,M,4,4191,0
3475,3476,F,Ship,6,4,100,5,low,F,7,5668,1
3611,3612,F,Ship,2,1,100,3,low,M,1,5776,1
4031,4032,F,Ship,6,5,98,3,low,F,8,5946,0
4062,4063,D,Ship,6,3,98,3,low,F,8,4651,1
4130,4131,A,Ship,6,3,100,4,low,M,3,5756,0
4158,4159,D,Ship,2,4,100,4,low,M,3,5398,0
5145,5146,B,Ship,5,4,97,6,high,M,7,5509,1
5844,5845,D,Ship,3,4,98,3,low,M,5,4432,0
5907,5908,B,Flight,4,3,96,4,medium,M,1,4984,1
6723,6724,B,Flight,5,4,99,2,high,F,4,4259,0
6768,6769,D,Ship,4,1,100,6,medium,M,6,5841,0
7082,7083,A,Ship,4,5,98,4,low,F,5,4643,0
7121,7122,F,Flight,4,5,98,4,low,M,5,5188,0
7238,7239,A,Road,3,3,99,5,medium,M,9,5470,0
7892,7893,A,Ship,6,2,99,3,low,M,8,5872,0
7929,7930,B,Road,4,4,97,6,low,M,4,5801,0
7975,7976,F,Ship,4,3,97,6,low,F,4,4375,0
8513,8514,F,Ship,6,3,98,6,low,M,9,4787,1
8953,8954,F,Ship,2,2,98,5,medium,M,10,4368,0
9485,9486,F,Ship,3,5,98,3,medium,F,3,5553,1
9727,9728,F,Flight,5,4,97,3,medium,F,8,4577,0
9783,9784,B,Ship,4,3,99,6,medium,M,9,5903,0
10322,10323,A,Ship,2,1,96,2,high,F,9,4449,1
10615,10616,F,Ship,3,2,100,4,low,F,10,5163,0
10622,10623,A,Ship,5,5,98,2,medium,M,2,4125,1

        -Agregação(Group by)

In [13]:
ecsd.groupby('Mode_of_Shipment')['Mode_of_Shipment'].count()

Mode_of_Shipment
Flight    1777
Road      1760
Ship      7462
Name: Mode_of_Shipment, dtype: int64

        -Funções Apply Lambda

        -União de Dados (Merge, Concat)

Análise de Dados:
    *Seaborn e Matplotlib
        -Gráficos (Barras, Linhas, Empilhado)

        -Correlações

        -Validação de Hipóteses

---------------

Gerar gráficos e apresentar para pessoas perguntando se está claro pelo gráfico a resposta.